/* Index.html */
html, body, .container-fluid {
  height: 100%;
  margin: 0;
}

.container-fluid {
  background: url("img-file/white-wall-cust.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a{
  color: black;
  height: 100px;
  text-decoration: none;
}

a:hover{
  color: black;
  text-decoration: none;
}

a:visited{
  color: black;
}


/* Menu bar */
.menu{
  text-align: center;
  opacity: 0.5;
  font-size: 35px;
  font-family: sans-serif;
  color: white;
  margin-top: 2rem;
}

.about{
  color: black;
  padding: 0;
}
.project{
  color: black;
  padding: 0;
}
.skills{
  color: black;
  padding: 0;
}
.contact{
  color: black;
  padding: 0;
}

.concat{
  padding: 0;
}

.naka {
  padding: 0.2rem;
}

.name{
  margin: 0 0 3rem 0;
  text-align: center;
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 100px;
}


.contact-bar a{
  color: black;
  padding: 2rem;
}

.col-xs-12 {
  font-size: 30px;
}

.contact-bar{
  font-size: 40px;
  text-align: center;
  margin-bottom: 2rem;
}


.skill-lists{
  /*height: 184px;*/
  text-align: center;
  /*margin-top: auto;*/
}

.js{
  height: 80px;
}


.sk-img{
  height: 70px;
  width: 70px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 80px;
}



/*.py-img{
  height: 70px;
  width: 70px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 80px;
}

.js-img{
  height: 70px;
  width: 70px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 80px;
}

.jq-img{
  height: 70px;
  width: 70px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 80px;
}*/

.css-img{
  height: 73px;
  width: 75px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 80px;
}


.projects-list{
  text-align: center;
}


/*.pro-box{
    border-radius: 20px;
}*/

.content{
  font-size: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.about-list{
  font-family: 'Goudy Bookletter 1911', serif;
}

/*.title{
  border: 1px solid black;
  background-color: rgba(255, 0, 0, 0.3);
  height: 100px;
}*/



.col-md-6.col-xs-12.naiyou{
  margin: 0;
  padding: 0;
}

.title{
  margin: 0;
}

.dc-logo{
  height: 40px;
  width: 70px;
}

.kk-logo{
  height: 40px;
  width: 40px;
}

.sentence{
  font-size: 25px;
}

.nerd{
  height: 140px;
}

.main-contacts{
  text-align: center;
}


/*.more{
  background-color: white;
  height: 40px;
  width: 70px;
}*/


/*.btn-6d {
	border: 2px dashed #ffcc00;
}*/

/* General button style (reset) */
button.btn {
	border: none;
	font-family: inherit;
	font-size: 10px;
	color: black;
	background: rgba(128, 128, 128, 0.3);;
	cursor: pointer;
	padding: 10px 40px;
	display: inline-block;
	margin: 5px 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

button.btn:focus {
  outline:0;
}

button.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}



button.btn-6c {
	/*border: 4px solid gray;*/
	border-radius: 60px;
}

button.btn-6c:hover {
	background: transparent;
	color: black;
}


@media only screen and (max-width: 1100px) {
  .title{
    text-align: center;
    font-size: 30px;
  }
  p.sentence{
    font-size: 20px;
    text-align: center;
  }
  div .content{
    font-size: 35px;
  }
  .nerd{
    height: 80px;
  }
}

@media only screen and (max-width: 800px) {
  .name{
    font-size: 70px;
  }
}

@media only screen and (max-width: 700px) {
  .name{
    font-size: 50px;
  }
  .sk-img{
    height: 50px;
    width: 50px;
    font-size: 50px;
  }
  .css-img{
    height: 55px;
    width: 55px;
    font-size: 50px;
  }
  div .content{
    font-size: 25px;
  }
  .nerd{
    height: 60px;
  }
}

@media only screen and (max-width: 550px) {
  .concat{
    font-size: 25px;
  }
  div.row.contact-bar{
    font-size: 30px;
  }
  .nerd{
    height: 40px;
  }
  button.btn {
  	border: none;
  	font-family: inherit;
  	font-size: 8px;
  	color: black;
  	background: rgba(128, 128, 128, 0.3);;
  	cursor: pointer;
  	padding: 5px 35px;
  	display: inline-block;
  	margin: 3px 3px;
  	text-transform: uppercase;
  	letter-spacing: 1px;
  	font-weight: 700;
  	outline: none;
  	position: relative;
  	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
  }

  button.btn:focus {
    outline:0;
  }

  button.btn:after {
  	content: '';
  	position: absolute;
  	z-index: -1;
  	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
  }



  button.btn-6c {
  	/*border: 4px solid gray;*/
  	border-radius: 60px;
  }

  button.btn-6c:hover {
  	background: transparent;
  	color: black;
  }

}


@media only screen and (max-width: 450px) {
  .concat{
    font-size: 20px;
  }
  .name{
    font-size: 30px;
  }

}
